.txt-l {
    text-align: left;
    color: red;
}

.txt-r {
    text-align: right;
}

.clearfix {
    zoom: 1;
    &:after{
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

.mr-10{
    margin-right: 10px !important;
}
.inline-dom{
    display: inline-block;
}
.required {
    color: #f95a46;
    padding-right: 6px;
}

.form{
	$col: 12;
	width: 100%;

	.form-row{
		width: 100%;
	}
	.form-col-1{
		float: left;
		width: (1/$col)*100 + %;
	}
	.form-col-2{
		float: left;
		width: (2/$col)*100 + %;
	}
	.form-col-3{
		float: left;
		width: (3/$col)*100 + %;
	}
	.form-col-4{
		float: left;
		width: (4/$col)*100 + %;
	}
	.form-col-5{
		float: left;
		width: (5/$col)*100 + %;
	}
	.form-col-6{
		float: left;
		width: (6/$col)*100 + %;
	}
	.form-col-7{
		float: left;
		width: (7/$col)*100 + %;
	}
	.form-col-8{
		float: left;
		width: (8/$col)*100 + %;
	}
	.form-col-9{
		float: left;
		width: (9/$col)*100 + %;
	}
	.form-col-10{
		float: left;
		width: (10/$col)*100 + %;
	}
	.form-col-11{
		float: left;
		width: (11/$col)*100 + %;
	}
	.form-col-12{
		float: left;
		width: (12/$col)*100 + %;
	}
}

.form-row{
    font-size: 0;
    padding-bottom: 18px;
    &.no-pd{
        padding-bottom: 0;
    }
    &>div{
        display: inline-block;
        font-size: 12px;
        color: #333;
        line-height: 32px;
        vertical-align: top;
    }
    .row-left{
        width: 98px;
    }
    .row-right{

    }
    &:last-child{
        padding-bottom: 0;
    }
    &.font-row-14{
        &>div{
            font-size: 14px;
        }
    }
}

// .self-scrollbar::-webkit-scrollbar              { width: 5px; height: 5px; }
/* .self-scrollbar::-webkit-scrollbar-button       { }*/
/* .self-scrollbar::-webkit-scrollbar-track        { *//* 3 *//* }*/
/* .self-scrollbar::-webkit-scrollbar-track-piece  { *//* 4 *//* }*/
/* .self-scrollbar::-webkit-scrollbar-thumb        { *//* 5 *//* }*/
/* .self-scrollbar::-webkit-scrollbar-corner       { display:none; }*/
/* .self-scrollbar::-webkit-resizer                { *//* 7 *//* }*/
