
/* clear float */

.clearfix {
    zoom: 1;
    &:after{
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

/* padding margin */

.mr-10{
    margin-right: 10px !important;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.pb-25{
    padding-bottom: 25px!important;
}
.no-pd{
    padding: 0!important;
}
.no-mg{
    margin: 0 !important;
}
.no-bd{
    border: 0;
}

/* layout vertical*/

.vt-middle{
    vertical-align: middle !important;
}
.vt-top{
    vertical-align: top;
}
.vt-top{
    vertical-align: baseline;
}

/* display */

.inline-dom{
    display: inline-block !important;
}
.block-dom{
    display: block !important;
}

/* text-align */

.txt-l {
    text-align: left;
    color: red;
}
.txt-r {
    text-align: right;
}
.txt-center {
    text-align: center;
}

/* tip */

.required {
    color: #f95a46;
    padding-right: 6px;
}
.pointer{
    cursor: pointer!important;
}

/* layout */

.layout-center-y{
    @include centerY();
}
.layout-center-x{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}
.layout-inline-middle{
    display: inline-block;
    vertical-align: middle !important;
}