
/* clear float */

.clearfix {
    zoom: 1;
    &:after{
        content: " ";
        visibility: hidden;
        display: block;
        font-size: 0;
        clear: both;
        height: 0;
    }
}

/* padding margin  width*/

.mr-3{
    margin-right: 3px!important;
}
.mr-10{
    margin-right: 10px !important;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.pb-25{
    padding-bottom: 25px!important;
}
.pb-18{
    padding-bottom: 18px !important;
}
.pb-20{
    padding-bottom: 20px !important;
}
.no-pd{
    padding: 0!important;
}
.no-pb{
    padding-bottom: 0!important;
}
.no-mg{
    margin: 0 !important;
}
.no-bd{
    border: 0;
}
.w-70{
    width: 70px!important;
}
.w-80{
    width: 80px !important;
}
.w-100{
    width: 100px !important;
}
.w-200{
    width: 200px !important;
}
.w-340{
    width: 340px !important;
}

/* layout vertical*/

.vt-middle{
    vertical-align: middle !important;
}
.vt-top{
    vertical-align: top;
}
.vt-top{
    vertical-align: baseline;
}

/* display */

.inline-dom{
    display: inline-block !important;
}
.block-dom{
    display: block !important;
}

/* text-align */

.txt-l {
    text-align: left;
    color: red;
}
.txt-r {
    text-align: right;
}
.txt-center {
    text-align: center;
}

/* tip */


.pointer{
    cursor: pointer!important;
}

/* layout */

.layout-center-y{
    @include centerY();
}
.layout-center-x{
    position: absolute;
    left: 50%;
    transform:translateX(-50%);
}
.layout-inline-middle{
    display: inline-block;
    vertical-align: middle !important;
}

/* font-size */
.font-12{
    font-size: 12px!important;
}
.font-14{
    font-size: 14px!important;
}