

.radio-wrap {
    display: inline-block;
    height: 34px;
    line-height: 34px;
}
.radio-module {
    display: inline-block;
    width: 80px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    position: relative;
    &.w-70{
        width: 70px;
        margin-right: 0;
    }
    &.radio-single{
        width:auto !important;
    }
    input[type='radio'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        top: 12px;
        left: 2px;
        z-index:100;
        opacity: 0;
    }
    input + span {
        display: inline-block;
        vertical-align: middle;
        @include bg("icon-chose.png", 16px, 16px);
        margin-right: 10px;
    }
    input:checked + span {
        @include bg("icon-chose-active.png", 16px, 16px);
    }
}

.form-row{
    font-size: 0;
    padding-bottom: 20px;

    .row-left{
        position: relative;
        width: 220px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 34px;
    }
    .row-right{
        position: relative;
        &>.txt{
            line-height: 34px;
        }
    }
    .required{
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '*';
            color: #f95a46;
            font-weight: bold;
        }
    }

    &.no-pd{
        padding-bottom: 0;
    }
    &>div{
        display: inline-block;
        font-size: 12px;
        color: #333;
        vertical-align: top;
    }
    &:last-child{
        padding-bottom: 0;
    }
    &.font-row-14{
        &>div{
            font-size: 14px;
        }
    }

}

.textarea-module{
    width: 340px;
    min-height: 78px;
    padding: 5px 10px;
    border: 1px solid #D6E1E5;
    border-radius: 4px;
    cursor: pointer;
    color: #333333;
    font-size: 12px;
    line-height: 1.8;
    box-sizing: border-box;
    font-family: Arial;

    &.error{
        color: #f84545;
        border: 1px solid #f84545;
        box-shadow: 0 0 3px 2px #f84545;
        &:hover{
            box-shadow: 0 0 3px 2px #f84545;
        }
    }
}

.checkbox-module{
    display: inline-block;
    min-width: 100px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    position: relative;
    &.w-70{
        width: 70px;
        margin-right: 0;
    }
    input[type='checkbox'] {
      /*  -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;*/
        position: absolute;
        top: 5px;
        z-index: 100;
        opacity: 0;
    }
    input + span {
        display: inline-block;
        vertical-align: middle;
        @include bg("icon-checkbox.png", 16px, 16px);
        margin-right: 10px;
    }
    .txt{
        vertical-align: middle;
    }
    input:checked + span {
        @include bg("icon-checkbox-active.png", 16px, 16px);
    }
    &.single{
        min-width: 20px;
    }
    &.checkbox-single{
        min-width: 20px;
    }
}

input {
    &[type='text'],
    &[type='number'] {
        border-radius: 4px;
        color: #333333;
        border: 1px solid #D6E1E5 !important;
        &:focus {
            box-shadow: 0 0 3px 2px #EEFAFF;
        }
        &::-webkit-input-placeholder {
            color: #D6E1E5;
        }
        &:-moz-placeholder  {
            color: #D6E1E5;
        }
        &::-moz-placeholder  {
            color: #D6E1E5;
        }
        &:-ms-input-placeholder  {
            color: #D6E1E5;
        }
    }
    &.form-input {
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        height: 34px;
        padding: 0 10px;
        line-height: 32px;
        color: #333333;
        &:focus {
            box-shadow: 0 0 3px 2px #E6F8FF;
        }
        border: 1px solid #D6E1E5 !important;
        &.error{
            color: #f84545;
            border: 1px solid #f84545;
            box-shadow: 0 0 3px 2px #f84545;
            &:hover{
                box-shadow: 0 0 3px 2px #f84545;
            }
        }
        &:disabled{
            background-color: #EFEFEF !important;
            color: #CBCBCB !important;
            cursor: default !important;
        }
    }

    transition: all .3s ease ;
}

textarea {
    border-radius: 4px;
    color: #333333;
    border: 1px solid #D6E1E5 !important;
    &:focus {
        box-shadow: 0 0 3px 2px #EEFAFF;
    }
    &.error{
        color: #f84545;
        border: 1px solid #f84545;
        box-shadow: 0 0 3px 2px #f84545;
        &:hover{
            box-shadow: 0 0 3px 2px #f84545;
        }
    }
    &::-webkit-input-placeholder {
        color: #D6E1E5;
    }
    &:-moz-placeholder  {
        color: #D6E1E5;
    }
    &::-moz-placeholder  {
        color: #D6E1E5;
    }
    &:-ms-input-placeholder  {
        color: #D6E1E5;
    }
}

.layout-row{
    padding-bottom: 20px;

    .row-left{
        display: inline-block;
        width: 136px;
    }
    .row-right{
        display: inline-block;
    }
}

.error-msg {
    padding-left: 10px; ;
    margin-top: 12px;
    display: block;
    color: #f84545;
    font-size: 10px;
}

