

.radio-wrap {
    display: inline-block;
    height: 34px;
    line-height: 34px;
    .radio-module {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
        &.w-70{
            width: 70px;
            margin-right: 0;
        }
        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        input + span {
            display: inline-block;
            vertical-align: middle;
            @include bg("icon-chose.png", 16px, 16px);
            margin-right: 10px;
        }
        input:checked + span {
            @include bg("icon-chose-active.png", 16px, 16px);
        }
    }
}

.form-row{
    font-size: 0;
    padding-bottom: 20px;

    .row-left{
        position: relative;
        width: 220px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 34px;
    }
    .row-right{
        position: relative;
        &>.txt{
            line-height: 34px;
        }
    }
    .required{
        &:before{
            position: absolute;
            top: 0;
            left: 0;
            content: '*';
            color: #f95a46;
            font-weight: bold;
        }
    }

    &.no-pd{
        padding-bottom: 0;
    }
    &>div{
        display: inline-block;
        font-size: 12px;
        color: #333;
        vertical-align: top;
    }
    &:last-child{
        padding-bottom: 0;
    }
    &.font-row-14{
        &>div{
            font-size: 14px;
        }
    }

}

.textarea-module{
    width: 340px;
    min-height: 78px;
    padding: 10px;
    border: 1px solid #D6E1E5;
    border-radius: 4px;
    cursor: pointer;
    color: #333333;
    font-size: 12px;
    line-height: 1.8;
    box-sizing: border-box;
}

.checkbox-module{
    display: inline-block;
    min-width: 100px;
    font-size: 14px;
    color: #333333;
    cursor: pointer;
    &.w-70{
        width: 70px;
        margin-right: 0;
    }
    input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    input + span {
        display: inline-block;
        vertical-align: middle;
        @include bg("icon-checkbox.png", 16px, 16px);
        margin-right: 10px;
    }
    .txt{
        vertical-align: middle;
    }
    input:checked + span {
        @include bg("icon-checkbox-active.png", 16px, 16px);
    }
}

input {
    &[type='text'] {
        border-radius: 4px;
        color: #333333;
        &:focus {
            box-shadow: 0 0 3px 2px #EEFAFF;
        }
        border: 1px solid #D6E1E5 !important;
    }
    &.form-input {
        box-sizing: border-box;
        border-radius: 4px;
        font-size: 12px;
        height: 34px;
        padding: 0 10px;
        line-height: 34px;
        color: #333333;
        &:focus {
            box-shadow: 0 0 3px 2px #EEFAFF;
        }
        border: 1px solid #D6E1E5 !important;
    }

    transition: all .3s ease ;
}

textarea {
    border-radius: 4px;
    color: #333333;
    border: 1px solid #D6E1E5 !important;
    &:focus {
        box-shadow: 0 0 3px 2px #EEFAFF;
    }
}


