.radio-wrapper {
    display: inline-block;
    height: 32px;
    line-height: 32px;
    .radio-module {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        color: #333333;
        cursor: pointer;
        margin-right: 40px;
        &.w-70{
            width: 70px;
            margin-right: 0;
        }
        input[type='radio'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        input + span {
            display: inline-block;
            vertical-align: middle;
            @include bg("icon-chose.png", 16px, 16px);
            margin-right: 10px;
        }
        input:checked + span {
            @include bg("icon-chose-active.png", 16px, 16px);
        }
    }
}

input {
    &[type='text'] {
        border-radius: 4px;
        color: #333333;
        &:focus {
            box-shadow: 0 0 3px 2px #EEFAFF;
        }
        border: 1px solid #D6E1E5 !important;
    }
}

textarea {
    border-radius: 4px;
    color: #333333;
    border: 1px solid #D6E1E5 !important;
    &:focus {
        box-shadow: 0 0 3px 2px #EEFAFF;
    }
}