.icon {
    display: inline-block;
    vertical-align: middle;

    &.icon-add-blue {
        width: 16px;
        height: 16px;
        @include bg("icon-add-blue.png");
    }

    &.icon-batch-lead-in-white {
        width: 16px;
        height: 16px;
    }

    &.icon-del-blue{
        width: 16px;
        height: 16px;
        @include bg('icon-del-blue.png');
    }

    &.icon-arrow-down{
        @include bg('arrow-down.png',9px,5px);
    }

    &.icon-edit-gray {
        width: 22px;
        height: 22px;
        @include bg('icon-edit-round-gray.png');
    }

    &.icon-del-gray {
        width: 22px;
        height: 22px;
        @include bg('icon-del-round-gray.png');
    }

    &-select {
        position: absolute;
        right: 7px;
        top: 10px;
        width: 20px;
        height: 19px;
        @include bg("def.png");
    }
    &-check {
        @include bg('icon-checkbox.png',16px,16px);

        &.active{
            @include bg('icon-checkbox-active.png',16px,16px);
        }
    }
    &-search {
        @include bg('icon-search.png',14px,14px);

    }
    &-add-white {
        width: 15px;
        height: 15px;
        @include bg('icon-add-white.png');
    }
    &-arrow-down-blue {
        width: 8px;
        height: 5px;
        @include bg('icon-arrow-down-blue.png');
        margin-left: 3px;
    }
    &-pass{
        width: 16px;
        height: 16px;
        @include bg('icon-pass.png');

    }
    &-fail-pass{
        width: 16px;
        height: 16px;
        @include bg('icon-fail-pass.png');

    }
}