$image-base-path: '../assets/';

@mixin bg($URI, $w: null, $h: null, $x: top, $y: center, $repeat: no-repeat) {
    @if $w and $h {
        width: $w;
        height: $h;
    }
    background: url('#{$image-base-path}#{$URI}') $repeat $x $y;
    background-size: 100% 100%;
}
@mixin centerY(){
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}